img {
    border: 2px solid black;
    border-radius: 20px;
    width: 200px;
    margin-bottom: 16px;
}

footer {
    font-size: 14px;
    margin-top: 20px;
    color: gray;
}

body {
    text-align: center;
    padding: 16px;
    background-image: url('スクリーンショット\ 2024-12-10\ 142310.png');
    background-size: cover;
}

h1 {
    margin-bottom: 16px;
}